<html>
    <head>
        <%- include('../partials/head'); %>

        <title> Tnt Web </title>
        
    </head>
    <body>
    <div class="layout">  
        
        <header><%- include('../partials/header-employee',  { errorMessage: errorMessage }, { isAdmin: isAdmin }); %></header>


        <a href="/admin/pre-reservation" class="link-button"> PRED-REZERVACIJE </a>



        <div class="content">
            
            <p class="naslov-1"> Reservations </p>

            <div class="rez-wraper">
                <div class="rez-item">
                    <% for( var i = 0; i < reservations.length; i++){ %>
                        <div class="rez-content">
                            <span>
                                IME: <%= reservations[i].firstname %>
                            </span>
                            <span>
                                PREZIME: <%= reservations[i].lastname %>
                            </span>
                            <span>
                                EMAIL: <%= reservations[i].email %>
                            </span>
                            <span>
                                BROJ MOBITELA: <%= reservations[i].phone_number %>
                            </span>
                            <span>
                                DATUM ROĐENJA: <%= reservations[i].date_of_birth%>
                            </span>
                            <span>
                                ALERGIJE: <%= reservations[i].allergies %>
                            </span>
                            <span>
                                NAPOMENA: <%= reservations[i].comment %>
                            </span>
                            <span>
                                TEMRIN: <%= reservations[i].start_date_time %> - <%= reservations[i].end_date_time %>
                            </span>
                            <span>
                                STATUS: <%= reservations[i].status %>
                            </span>
                        </div>
    
    
                        <form action ="/admin/reservations/change-status" method="POST">
                            <input type="hidden" type="number" name="reservation_id" value="<%= reservations[i].reservation_id%>">
                           <button class="btn-rez" style="font-size: 16px;"> UKLONI REZERVACIJU </button>
                        </form>
    
                        <p style="margin-bottom: 40px;">
                            <a href="/admin/reservation/<%= reservations[i].reservation_id %>" class="link-edit-a">Edit</a>
                        </p>
                        
                        <form action ="/admin/reservations/delete" method="POST">
                            <input type="hidden" type="number" name="reservation_id" value="<%= reservations[i].reservation_id%>">
                           <button class="btn-rmv"> Remove </button>
                        </form>
                    <% } %>
                </div>
    
            </div>
          
        </div>
        
        <div> <footer><%- include('../partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>