<html>
    <head>
        <%- include('../partials/head'); %>
        <title> Tnt Web </title>
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    </head>
    <body>
    <div class="layout">  
    <!--HEARDER DODAVANJE-->
        <header><%- include('../partials/header-employee'); %></header>

        <a href="/admin/reservation" class="link-button"> REZERVACIJE </a>


        <div class="content">

            <p class="rez-title"> Pre-Reservations </p>

            <div class="rez-wraper">
                <div class="rez-content">
                    <% for( var i = 0; i < pre_reservations.length; i++){ %>
                        <span>
                            IME: <%= pre_reservations[i].firstname %>
                        </span>
                        <span>
                            PREZIME <%= pre_reservations[i].lastname %>
                        </span>
                        <span>
                            EMAIL: <%= pre_reservations[i].email %>
                        </span>
                        <span>
                            BROJ MOBITELA: <%= pre_reservations[i].phone_number %>
                        </span>
                        <span>
                            DATUM ROĐENJA DJETETA: <%= pre_reservations[i].date_of_birth%>
                        </span>
                        <span>
                            ALERGIJE: <%= pre_reservations[i].allergies %>
                        </span>
                        <span>
                            NAPOMENA: <%= pre_reservations[i].comment %>
                        </span>
                        <span>
                            TERMIN: <%= pre_reservations[i].start_date_time %> - <%= pre_reservations[i].end_date_time %>
                        </span>
                        <span>
                            STATUS: <%= pre_reservations[i].status %>
                        </span>
                        <form action ="/pre-reservations/change-status" method="POST" style="margin-bottom: 25px;">
                            <input type="hidden" type="number" name="reservation_id" value="<%= pre_reservations[i].reservation_id%>">
                        <button class="btn-rez"> REZERVIRAJ </button>
                        </form>
                        <span>
                            <a href="/admin/reservation/<%= pre_reservations[i].reservation_id %>" class="link-edit">Edit</a>
                        </span>
                        
                        <form action ="/pre-reservations/delete" method="POST">
                            <input type="hidden" type="number" name="reservation_id" value="<%= pre_reservations[i].reservation_id%>">
                        <button class="btn-remove"> Remove </button>
                        </form>

                    <% } %>
                </div>
            </div>
          
        </div>
    <!--FOOTER DODAVANJE-->
        <div> <footer><%- include('../partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>