<html>
    <head>
        <%- include('../partials/head'); %>
        <title> Tnt Web </title>
    </head>
    <body>
    <div class="layout">  
        <header><%- include('../partials/header-employee',  { errorMessage: errorMessage }, { isAdmin: isAdmin }); %></header>

        <div class="content">
        


            <div class="from-wrap">

                <form action ="/admin/reservation/<%= reservation.reservation_id %>" method="POST">
                        
                        <div class="grid-container">

                            <div class="item0"> 
                                
                                <label for="termin">Izaberite slobodni termin:</label>
                                <select name="appointment_id">
                                    <% for( var i = 0; i < appointments.length; i++){ %>
                                        <% if(reservation.appointment_id == appointments[i].appointment_id){ %>   
                                            <option value="<%= appointments[i].appointment_id %>" selected>
                                                    <%= i+1 %> - POČETAK: <%= appointments[i].start_date_time %> KRAJ: <%= appointments[i].end_date_time %>
                                            </option>
                                        <% } %>
                                        <% if(reservation.appointment_id != appointments[i].appointment_id){ %>   
                                            <option value="<%= appointments[i].appointment_id %>">
                                                <%= i+1 %> - POČETAK: <%= appointments[i].start_date_time %> KRAJ: <%= appointments[i].end_date_time %>
                                            </option>                                   
                                        <% } %>
                                    <% } %>
                                </select> 
                            </div>



                            <div class="item1">
                                <label>Unesite ime:</label>
                                <input name="firstname" type="text" value="<%= reservation.firstname %>">
                            </div>
                            <div class="item2">
                                <label>Unesite prezime:</label>
                                <input name="lastname" type="text" value="<%= reservation.lastname %>">
                            </div>
                            <div class="item3">
                                <label>Unesite email:</label>
                                <input name="email" type="email" value="<%= reservation.email %>">
                            </div>
                            <div class="item4">
                                <label>Unesite broj mobitela:</label>
                                <input name="phone_number" type="tel" value="<%= reservation.phone_number %>" minlength="9" maxlength="10">
                            </div>
                            <div class="item5">
                                <label>Unesite datum rođenja djeteta:</label>
                                <input 
                                    name="date_of_birth" 
                                    type="date" 
                                    value="<%= reservation.date_of_birth.toISOString().split('T')[0] %>" >
                            </div>
                            <div class="item6">
                                <label>Alergenti
        
                                </label>
                                <textarea name="allergies"><%= reservation.allergies %></textarea>
                            </div>
                            <div class="item7">
                                <label>
                                    Napomena
                                </label>
                                <textarea name="comment"><%= reservation.comment %></textarea>
                            </div>
                            <div>
                                <label>
                                    Status
                                </label>
                                <select name="status">
                                    <option value="0" <% if (reservation.status == 0) { %> selected <% } %> >
                                        PREDREZERVACIJA 
                                    </option>
                                    <option value="1" <% if (reservation.status == 1) { %> selected <% } %> >
                                        REZERVACIJA
                                    </option>

                                </select>
                                <option value="">
                                    <%= reservation.status == 0 ? "PREDREZERVACIJA" :"REZERVACIJA"%>
                                </option>
                            </div>
                            <div class="item8"><button class="btn-add-l"> Potvrdi unos </button></div>

                        </div>
                    </form>

    
    
            </div>

        </div>
        <div class="tnt-footer"> 
            <footer><%- include('../partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>