<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/styles/users.css">
        <title> Tnt Web </title>
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    </head>
    <body>
    <div class="layout">  
    <!--HEARDER DODAVANJE-->
        <header><%- include('../partials/header-admin',  { errorMessage: errorMessage }); %></header>

        <div class="login-wraper">
            <p class="rez-title"> Users </p>
            <form action ="/admin/users" method="POST">
                <input type="text" name="firstname" placeholder="Ime"> 
                <input type="text" name="lastname" placeholder="Prezime">      
                <input type="text" name="username" placeholder="Korisnicko ime">     
                <input type="text" name="password" placeholder="Lozinka">
                <select name="role_id">
                    <% for(var i = 0; i < roles.length; i++) { %>
                      <option value="<%= roles[i].role_id %>">
                         <%= roles[i].role_name %>
                     </option>
                    <% } %>
                </select>    
                <button class="btn-add"> Dodaj korisnika </button>
            </form>

            <div class="user-content">
                <% for( var i = 0; i < users.length; i++){ %>
                    <p>
                        Ime: <%= users[i].firstname %>
                    </p>
                    <p>
                        Prezime: <%= users[i].lastname %>
                    </p>
                    <p>
                        Rola: ?
                    </p>
                    <form action ="/admin/users/delete" method="POST">
                        <input type="hidden" type="number" name="users_id" value="<%= users[i].users_id %>">
                       <button class="btn-rmv"> Remove </button>
                    </form>
                <% } %>
            </div>
          
        </div>
    <!--FOOTER DODAVANJE-->
        <div> <footer><%- include('../partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>