<html>
    <head>
        <%- include('partials/head'); %>
        <title> Tnt Web </title>
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    </head>
    <body>
    <div class="layout">  
    <!--HEARDER DODAVANJE-->
        <header><%- include('partials/header'); %></header>

        <div class="content">

            <p class="naslov-1">GALERIJA</p>

                    <% for( var i = 0; i < gallery_items.length; i++){ %>
                        <div class="responsive">
                            <div class="gallery">
                                <div class="desc">
                                    <%= gallery_items[i].title %>
                                </div>
                                <img alt="gallery image" src="<%= gallery_items[i].path %>" width="600" height="400"  style="margin-bottom: 20px;"/>
                            </div>
                        </div>
                    <% } %>

        </div>
    <!--FOOTER DODAVANJE-->
        <div> <footer><%- include('partials/footer'); %></footer>
        </div>
    </div>
</body>
</html>